* {
    font-family: Times New Roman, Arial;
    margin: 0;
    padding: 0; 
    box-sizing: border-box; 
}

html{
    background-color: palevioletred; 
}

html, body {
    height: 80vh; 
    padding: 1rem; 
    box-sizing: border-box;
}

body {
    display: grid; 
    grid-template-areas: 
        "header"
        "main"
        "footer"; 
    grid-template-rows: auto 1fr auto; 
    color: rgb(251, 216, 221);
}

main {
    display: grid; 
    grid-template-areas:
        "portfolio map"; 
    grid-template-columns: 1fr 1fr; 
   
}

header { 
    grid-area: header; 
}

main { 
    grid-area: main; 
    
}

h1,
h2,
h3,
h4
 {
  margin: 0.1rem 0;
}

h1 {
  font-size: 2rem;
  color: rgb(251, 216, 221);
}

h2 {
  font-size: 1.5rem;
  padding-left: 20px;
  color: rgb(251, 216, 221);
}

h3 {
    font-size: 1.2rem;
    padding-left: 900px;
    color: rgb(251, 216, 221);
     
  }

  h4 {
    font-size: 1.5rem;
    padding-left: 20px;
    color: rgb(251, 216, 221);
  }

ul {
    color: rgb(251, 216, 221);
}

.portfolio {
    grid-area: portfolio; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    color: rgb(251, 216, 221);
}



#map { 
    grid-area: map; 
    height: 80vh; 
    color:palevioletred
}

li {
    margin-bottom: 0.5rem;
  }
  
#footer { 
    grid-area: footer; 
    padding: 1rem;
    background-color: #b4154f; 
    color: #fff; 
    color: rgb(251, 216, 221);
    text-align: center;
}